.content {
  img {
    width: 16rem;
    float: right;
    margin-left: 3rem;

    box-shadow: 0rem 0.5rem 3rem 1rem rgba(0, 0, 0, 0.2);

    @mixin smaller-than $mantine-breakpoint-sm {
      width: 10rem;
      margin-left: 1.5rem;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-top: 1.8rem;
  }

  p {
    text-align: justify;
    font-size: 1.1rem;
  }

  span {
    font-weight: bold;
    color: var(--mantine-color-crimson-4);
  }

  &[data-spaced='true'] {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    margin-top: 10rem;
    margin-bottom: 10rem;

    @mixin smaller-than $mantine-breakpoint-sm {
      margin-top: 5rem;
    }

    img {
      width: 24rem;
      @mixin smaller-than $mantine-breakpoint-sm {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
    }
  }
}
